.root {
    -fx-font-family: "Calibri", "Candara", "Trebuchet MS", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #EFEAF0;
}

.field-label {
    -fx-font-size: 20px;
    -fx-text-fill: #111;
}

.primary-btn {
    -fx-background-color: linear-gradient(#7b1fa2, #5e0f85);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-radius: 6;
    -fx-background-radius: 14;
    -fx-padding: 10 20 10 20;
    -fx-pref-height: 48;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 2);
}

.primary-btn:hover {
    -fx-background-color: linear-gradient(#9c27b0, #7b1fa2);
}

.secondary-btn {
    -fx-background-color: white;
    -fx-border-color: #5e0f85;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-text-fill: #5e0f85;
    -fx-font-size: 20px;
    -fx-background-radius: 12;
    -fx-padding: 8 18 8 18;
    -fx-pref-height: 44;
}

.secondary-btn:hover {
    -fx-background-color: #f2f2f2;
}


